<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:fragment="head">
    <script type="text/javascript" src="/static/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/jquery.cookie.js"></script>
    <script src="/static/js/plugins/vue.js"></script>
    <script src="/static/js/plugins/axios.js"></script>
    <script src="/static/js/auth.js"></script>
    <script src="/static/js/request.js"></script>
</div>
</body>
</html>